body{
    background-image: url(background.jpg);
    background-size: cover;
}

div.content{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255,255,255,0.8);
    padding: 1em;
}

td{
    font-family: calibri;
    font-size: 22px;
}

table{
    margin: 15px;
}

th{
    text-align: left;
    font-family: calibri;
    font-size: 25px;
}

h1{
    margin: 15px;
    font-family: calibri;
    color: darkorange;
}

a{
    color: darkorange;
}

h2{
    color: darkorange;
    font-family: calibri;
    font-size: 25px;
    margin: 15px;
}

p{
    margin: 15px;
    font-family: calibri;
    font-size: 22px;
}

p.footer{
    margin: 15px;
    font-family: calibri;
    font-size: 15px;
}

a.back{
    float: left;
}

form{
    margin: 15px;
    font-family: calibri;
    font-size: 22px;
}

form{
    clear: left;
}

input.auteur[type="text"]{
    width: 250px;
    margin-left: 177px;
}

input.titel[type="text"]{
    width: 250px;
    margin-left: 200px;
}

input.url[type="text"]{
    width: 250px;
    margin-left: 204px;
}

textarea.samenvatting{
    width: 250px;
    margin-left: 116px;
}

p.form{
    font-family: calibri;
    font-size: 22px;
}

div.formulier{
    float: right;
    width: 180px;
    margin-left: auto;
    margin-right: auto;
    border: solid black 4px;
    border-radius: 5px;
    text-align: center;
    padding: 0.5em;
}

a.post{
    font-family: calibri;
    font-size: 25px;
    text-decoration: none;
}